
body {
    font-family: Arial, sans-serif;
    background-color: slategrey;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10 2px 10px rgba(45, 50, 60);
}

h1 {
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid beige;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor:crosshair;
    background-color: papayawhip;
    color: black;
    margin: 10px;
}

button:hover {
    background-color: olivedrab;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#reset {
    background-color: red;
    width: 100px;
    position: relative;
}